{% load static %}
<div><!--row 3 start-->
    <div class="row mt-5">
      <div class="col-md-4">
        <h5>Address</h5>
        <hr>
        karve nagar pune , lane no.6,<br>
        land mark building,<br>
        oppo natural ice cream <br>

      </div>
      <div class="col-md-4">
        <h5>Quick Links</h5>
        <hr>
        <p><a href="" class="anchor">Home</a></p>
        <p><a href="" class="anchor">About Us</a></p>
        <p><a href="" class="anchor">Cart</a></p>
        <p><a href="" class="anchor">Contact</a></p>
        

      </div>
      <div class="col-md-4">
        <h5>Connect Us</h5>
        <hr>
        <h5><a href="http://www.twitter.com"><i class="bi bi-twitter "></i></a></h5>
        <h5><a href="http://www.facebook.com"><i class="bi bi-facebook"></i></a></h5>
        <h5><a href="http://www.instagram.com"><i class="bi bi-instagram"></i></a></h5>
        <h5><a href="http://www.linkedin.com"><i class="bi bi-linkedin"></i></a></h5>

      </div>

    </div>

  </div><!--row 3 ends-->
  <script src="{% static 'asset/js/bootstrap.min.js' %}"></script>


</div>
 