{% extends 'base.html' %}
{% load static %}
{% block 'main' %}
<div class="row mt-4"><!--row 2 start-->
    <div class="col-md-4 bg-body-secondary p-3">
      <h5>Filter by category</h5>
      <hr>
      <p><a href="/index" class="anchor" >ALL</a></p>
      <p><a href="/catfilter/4" class="anchor" >TITAN</a></p>
      <p><a href="/catfilter/2" class="anchor">FASTRACK</a></p>
      <p><a href="/catfilter/3" class="anchor">ROLEX</a></p>
      <p><a href="/catfilter/1" class="anchor">CASIO</a></p>

      <h5>Filter By Price Range</h5>
      <hr>
      <form action="/range">
        <div class="mb-3">
          <label for="Input1" class="form-label">min</label>
          <input type="value" class="form-control" name="min" id="Input1" placeholder="LOW PRICE">
        </div>
        <div class="mb-3">
          <label for="Input1" class="form-label">max</label>
          <input type="value" class="form-control" name="max" id="Input1" placeholder="HIGH PRICE">
        </div>
        <div class="mb-3">
          
          <input type="submit" value="Search" class="btn btn-danger">
        </div>
        
      </form>
      <h5> SORT BY PRICE</h5>
      <hr>
      <p><a href="/sort/0" class="anchor">LOW TO HIGH</a></p>
      <p><a href="/sort/1" class="anchor">HIGH TO LOW</a></p>
      



    </div>
    <div class="col-md-8">
      <div class="row">
        {% for x in products %}
        <div class="col-md-4">
          <div class="card" style="width: 100%">
            <img src="{{x.pimage.url}}" width="100%" height="220px" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">{{x.name}}</h5>
              <p class="card-text">{{x.price}}</p>
              <p class="card-text">
                {% if x.cat == 1 %}
                <p class="card-text">CASIO</p>
                {% elif x.cat == 2 %}
                <p class="card-text">FASTRACK</p>
                {% elif x.cat == 3 %}
                <p class="card-text">ROLEX</p>
                {% elif x.cat == 4 %}
                <p class="card-text">TITAN</p>
                {% endif %}
              </p>
              <a href="/pd/{{x.id}}" class="btn btn-primary">More Details</a>
            </div>
          </div>

        </div>
        {% endfor %}
        
        
      

    </div>

  </div><!--row 2 end-->
{% endblock 'main' %}
